#list {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, auto);
  margin-right: 30px;
}

#box {
  background-color: rgb(214, 177, 121);
  padding: 20px;
  color: white;
  box-shadow: 0px 0px 10px rebeccapurple;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 420px) {
  #box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}

button {
  border-radius: 20px;
  padding: 10px;
}
